@using DocumentFlow.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="~/Content/styles.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="~/Content/froala_style.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/froala_style.min.css" rel="stylesheet" type="text/css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>Главная</title>
</head>
<body>
<div class="wrapper">
    <div class="left-sidebar">
        <ul class="menu">
            <li class="menu-item">
                <h1>@AccountController.FullName</h1>
                <ul class="submenu">
                    <li class="submenu-item">@Html.ActionLink("Редактировать", "Edit", "Account")</li>
                    <li class="submenu-item">@Html.ActionLink("Изменить пароль", "EditPassword", "Account")</li>
                    <li class="submenu-item">@Html.ActionLink("Удалить", "Delete", "Account")</li>
                    <li class="submenu-item">@Html.ActionLink("Выйти", "Logoff", "Account")</li>
                </ul>
            </li>
        </ul>
        <nav>
            @Html.ActionLink("Входящие", "")
            @Html.ActionLink("Исходящие", "")
            @Html.ActionLink("Заполнить", "DocumentTemplates", "Main")
        </nav>
    </div>
    <div class="main-block">
        
        @RenderBody()
    </div>
</div>
</body>
</html>