@model EntityModels.DocumentTemplate

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

    <form method="POST">
        @Model.Name
        <br />
        <div class="fr-view">
            @Html.Raw(Model.Text)
            <br />
            <input name="Id" type="text" hidden value="@Html.Raw(Model.Id.ToString())" />
            <p>Путь</p>
            <br />
        </div>

            @Html.Raw(Model.PositionsPath)

            <a id="send" href="#">Send</a>
</form>
    <script>
        $('#send').click(function () {
            var a = $('form').serializeArray();

            for (var i = 0; i < a.length; i++) {
                result[a[i]["name"].toString()] = a[i]["value"].toString();
            }
            $.ajax({
                url: '@Url.Action("GetResult")' + '/action?json=' + JSON.stringify(result),
                type: 'POST',
                success: function (response) {
                    $(".view").html(response);
                },
                async: true,
                processData: false
            });
        });
    </script>
